
.navigationbar_top{
    display: flex;
    position: sticky;
    top: 0;
    font-size: 12px;
    color: #333333;
    background: transparent;
    font-weight: bolder;
    height: 52px;
    z-index: 10;
}

.navigationbar_top.active {
    background: #f7f7f7;
    transition: all 0.5s;
    box-shadow:  1px 1px 1px #c7c7c7, 
                 -5px -1px 10px #ffffff;

}

.navbar_mid {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
    align-items: center;
}

.navigationbar a {
    color: white;
}

.navigationbar a:hover {
    color: #333333;
    transition: ease-in-out 0.1s;
}

.navigationbar a:hover:before {
    position: absolute;
    top: 40px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #333333;
    box-shadow: 1px 1px 3px 1px #ffffff;
    content: "";

}

.logoText:hover {
    color: #333333 !important;
    transition: ease-in-out 0.1s;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_mid .navbar_menu {
    background: transparent;
}

.navbar_bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #333333;
    font-weight: bolder;
    font-size: 0.8rem;
    padding: 1.5rem 0;
    background: rgb(253, 227, 211);
    /* background-image: url('../../../img/bottomImg.jpg'); */
    /* background-image: url('https://i.ibb.co/JpHNt42/pexels-fauxels-3184192.jpg'); */
}

.navbar_bottom li {
    background: transparent;
}


.tag {
    all: unset;
}
