* {
    list-style: none;
    text-decoration: none;
}

.App{
    max-width: 1024px;
    min-width: 320px;
    max-height: 1366px; 
    margin: 0 auto;
    background: whitesmoke;
}

.body{
    display: flex;
    justify-content: center;
}

.body_container {
    width: 1024px;
    background: whitesmoke;
}

.body_menu_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(223px, 1fr));
    --gap: 10;
    grid-gap: calc(var(--gap) * 1px);
    margin: 5px;
}

.body_menu_category {
    text-align: center;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    border-radius: 3px;
}

.body_menu_category img {
    max-width: 100%;
    height: auto;
}

.body_menu_category img:hover {

}


