* {
    list-style: none !important;
    text-decoration: none !important;
}

button {
    border: none ;
    background: none;
}

.App{
    max-width: 1024px;
    min-width: 320px;
    margin: 0 auto;
    background: whitesmoke;
    position: relative;
    min-height: 100vh;
}

.body{
    display: flex;
    justify-content: center;
}

.body_container {
    width: 1024px;
    background: whitesmoke;
}

.body_menu_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(177px, auto));
    /* grid-template-columns: repeat(auto-fill, minMax(223px, 1fr)); */
    --gap: 10;
    grid-gap: calc(var(--gap) * 1px);
    margin: 5px;
}

.body_menu_category {
    color: #333333;
    text-align: center;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-size: 14px;
}

.category_name {
    margin: 3px 0;
    padding: 5px;
}

.body_menu_category img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    height: auto;
}

.body_menu_category:hover {
    background: rgb(248, 37, 37);
    color:white;
    transition: ease-in-out 0.2s;
}

.ft {
    color: #ffffff;
    text-align: center;
    max-width: 1024px;
    background: black;
    position: absolute;
    height: 60px;
    bottom: 0;
    left:0;
    right:0;
  }

.modal-content {
    margin: 0 !important;
}
