
.restaurants {
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(320px, 1fr));

}

.restaurant {
    background: white;
    border-radius: 3px;
    border-radius: 2px;
    box-shadow:  1px 1px 1px #c7c7c7, 
                 -5px -1px 10px #ffffff;
    margin: 10px;
}

.restaurant:hover {
    transition: ease-out 0.2s;
    box-shadow: 1px 1px 2px 0px #333333;
}

.restaurantVIP {
    background: white;
    border-radius: 3px;
    border-radius: 2px;
    box-shadow:  1px 1px 1px #c7c7c7, 
                 -5px -1px 10px #ffffff;
    margin: 10px;
}

.restaurantVIP:hover {
    transition: ease-out 0.1s;
    box-shadow: 1px 1px 2px 0px #0066ff;
}

.restaurant_card {
    color: #333333;
    padding: 15px;
    height: auto;
}

.card_body {
    display: flex;
}

.card_text_wrap {
    width: 60%;
    border-radius: 5px;
    margin: 5px auto;
}

.thumb {
    width: 38%;
    border-radius: 5px;
    margin: 5px auto;
}

.thumb img{
    width: 100%;
    border: 1px solid black;
    min-height: 120px;
    max-height: 140px;
    object-fit: contain;
}

.card_text_header {
    color: white;
    text-align: center;
    background: #e84135;
    border-radius: 3px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bolder;
}

p{
    margin-bottom: 0 !important;
}

.card_text {
    margin: 5px;
    font-size: 13px;
}

.submenu {
    color: #333333;
    font-weight: bold;
    padding: 5px 10px;
}


.submenu:hover {
    color: white;
    font-weight: bold;
    background: #333333;
}


.orderCall:hover {
    color: #333333 !important;
}

.tag {
    min-width: 59.53px;
    margin: 3px auto;
    margin-right: 3px;
    font-size: 0.7rem !important;
}


@media screen and (max-width: 375px) {
    .tag {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width: 640px) {
    .tag {
        font-size: 0.6rem !important;
    }
}

@media screen and (min-width: 960px) {
    .tag {
        font-size: 0.6rem !important;
    }
}
