
.restaurants {
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(320px, 1fr));

}

.restaurant {
    background: white;
    border-radius: 3px;
    border-radius: 2px;
    box-shadow:  1px 1px 1px #c7c7c7, 
                 -5px -1px 10px #ffffff;
    margin: 10px;
}

.restaurant:hover {
    transition: ease-out 0.2s;
    box-shadow: 1px 1px 2px 0px #333333;
}

.restaurant_card {
    color: #333333;
    padding: 15px;
    height: auto;
}

.card_body {
    display: flex;
}

.card_text_wrap {
    width: 60%;
    border-radius: 5px;
    margin: 5px auto;
}

.thumb {
    width: 38%;
    border-radius: 5px;
    margin: 5px auto;
}

.thumb img{
    width: 100%;
    min-height: 120px;
    max-height: 140px;
    object-fit: contain;
}

.card_text_header {
    color: white;
    text-align: center;
    background: #cc4242;
    border-radius: 3px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0 auto;
}

.card_text {
    margin: 5px;
}

.submenu {
    color: #333333;
    font-weight: bold;
    padding: 5px 10px;
}


.submenu:hover {
    color: white;
    font-weight: bold;
    background: #333333;
}
